<main class="main">
  <button type="button" class="btn btn-primary" (click)="getData()">Send Message</button>
  {{data}}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    
    <tbody> 
      <tr *ngFor="let item of data">
          <th scope="row">{{item.id}}</th>
          <td>
            {{item.name}}
          </td>
          <td><app-sm-device-icon icon={{item.icon}}></app-sm-device-icon> 
          </td>
          <td>mdo</td>
        </tr>
      </tbody>


  </table>

</main>
<router-outlet />
